
px2vw(px)
  return unit(round(1000 / px, 4), 'vw')

fullpath-img = '../../dist/img/'
path-img = '../img/'

img(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  if filename == none
    background-image none
  else
    background-image url(path-img+filename)

    if rep != nil and rep != cover and rep != contain
      tmp-size = image-size(fullpath-img+filename)
      background-size tmp-size[0] tmp-size[1]

    if rep == false
      // background-repeat no-repeat // default in reset.styl

    else if rep == no-repeat or rep == repeat or rep == repeat-x or rep == repeat-y or rep == inherit
      background-repeat rep
      if p2 == null and p1 != center
        p2 = 0
      background-position p1 p2 p3 p4

    else if rep == cover or rep == contain
      background-size rep
      if p1 == 0
        background-position center
      else
        background-position p1 p2 p3 p4
    else if rep != nil
      if p1 == 0 and rep == center
        p1 = null
      // background-repeat no-repeat // default in reset.styl
      background-position rep p1 p2 p3


img-size(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img(filename, rep, p1, p2, p3, p4)
  tmp-size = image-size(fullpath-img+filename)
  size tmp-size[0] tmp-size[1]


png(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img(filename+'.png', rep, p1, p2, p3, p4)
png-size(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img-size(filename+'.png', rep, p1, p2, p3, p4)
jpg(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img(filename+'.jpg', rep, p1, p2, p3, p4)
jpg-size(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img-size(filename+'.jpg', rep, p1, p2, p3, p4)
gif(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img(filename+'.gif', rep, p1, p2, p3, p4)
gif-size(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  img-size(filename+'.gif', rep, p1, p2, p3, p4)
svg(filename, rep = false, p1 = 0, p2 = null, p3 = null, p4 = null)
  background-image url(path-img+filename+'.svg')
  if rep == false
    //
  else if rep == no-repeat or rep == repeat or rep == repeat-x or rep == repeat-y or rep == inherit
    background-repeat rep
    if p2 == null and p1 != center
      p2 = 0
    background-position p1 p2 p3 p4

  else if rep == cover or rep == contain
    background-size rep
    if p1 == 0
      background-position center
    else
      background-position p1 p2 p3 p4

  else if rep != nil
    if p1 == 0 and rep == center
      p1 = null
    background-position rep p1 p2 p3


// wrapper
wrapper(max_width)
  max-width max_width
  margin auto
  clear both
