reset-box-model()
  margin 0
  padding 0
  border 0
  outline 0

reset-font()
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size 100%
  vertical-align baseline

div, span, object, iframe, p,
pre, a, abbr, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, caption, tbody, tfoot, thead, tr
  reset-box-model()
  reset-font()
table
  border-collapse separate
  border-spacing 0
  vertical-align middle
caption, th, td
  text-align left
  font-weight normal
  vertical-align middle
a
  background-color transparent
  -webkit-text-decoration-skip objects
  text-decoration none
  cursor pointer
  outline 0
  img
    border 0

b,
strong
  font-weight bolder

article, aside, canvas, details, figcaption,
figure, footer, header, nav, section
  reset-box-model()

html
  box-sizing border-box
  -webkit-text-size-adjust 100%

body
  margin 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

*,::before,::after
  box-sizing inherit

::selection
  text-shadow none

[disabled]
  cursor default

[type="number"]
  width auto /* Firefox 36+ */

[type="search"]
  -webkit-appearance textfield /* Safari 8+ */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration
  -webkit-appearance none /* Safari 8 */

textarea
  overflow auto /* Internet Explorer 11+ */
  resize vertical /* Specify textarea resizability */

svg:not(:root)
  overflow hidden /* Internet Explorer 11- */

button,
.button,
input[type=reset],
input[type=submit],
input[type=button]
  appearance none
  cursor pointer
  text-decoration none
  outline 0
  padding 0
  &::-moz-focus-inner
    border none
    padding 0
