::selection
  c #f darken(color-turquoise, 20)

html
  font-size px2vw(bp-desktop)

  +above(bp-desktop)
    font-size 10

body
  color color-text color-bg
  font-family font
  font-size 16 1
  background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%233c7ba2' fill-opacity='0.06'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

a
  c color-link
  &:hover
    c color-link-hover

img
  max-width 100%
  height auto
