.button
  border 0
  c color-turquoise #F
  border-radius 5
  height 40px
  padding-x 12
  font-weight bold
  font-size 13 @height
  text-transform uppercase
  transition all .25s
  &:hover
    c #0

  &--turquoise
    c #f color-turquoise
    &:hover
      c #f darken(color-turquoise, 10)

  &--small
    height 28px
    font-size 11 @height
    padding-x 8
