.forecast
  position relative
  margin-y 90

  .button--small
    absolute top 10 right -50

  &__list
    display flex
    flex-wrap wrap
    padding-x 20

  &__day
    margin 10
    width calc(33.33333% - 2rem)
    border-radius 6
    bgc lighten(color-turquoise, 45)
    overflow hidden

  &__item
    float left
    width 100%
    text-align center
    border-bottom lighten(color-turquoise, 40)
    &:nth-child(even)
      bgc lighten(color-turquoise, 43)
    &:nth-child(n+2)
      .forecast__date__day
        display none
    &:last-child
      border 0

  &__date
    float left
    width 100%
    font-weight 600
    &__day
      float left
      c #f color-blue
      width 100%
      padding-y 8
      margin-right 10px
      font-size 15px
    &__hour
      display inline-block
      font-size 0.8em
      margin-y 11
      padding-x 9
      padding-y 5
      border-radius 12
      c #f lighten(color-turquoise, 5)

  &__description
    float left
    width 100%
    margin-y 3 0
    margin-bottom 10px
    font-style italic
    font-size 15px
    c darken(color-turquoise, 17)

  &__temp
    float left
    width 100%
    margin-bottom 10px
    font-size 13px
    c darken(color-turquoise, 17)
    font-weight bold
