.search
  fixed top left z 999
  size 100% 80
  padding-top 20
  padding-x 30
  bg color-turquoise

  &__wrapper
    display flex
    wrapper bp-desktop
    width 100%

  &__input-wrapper
    flex auto
    margin-right 12

  &__input
    size 100% 40
    border 0
    padding-left 13
    font-size 16
    c darken(color-turquoise, 14)
    border-radius 5
    font-weight light
    outline 0
    transition color .2s
    &:focus
      c #0

  &__autocomplete
    margin-top -5

  .button--locate
    margin-left 12
